html, body {
  height: 100%;
  margin: 0px;
  box-sizing: border-box;
  background-color: #fff;
  width: auto;
  scroll-behavior: smooth;
}

.navbar {
  background-color: rgb(157, 172, 176);
  font-family: 'Exo2', sans-serif;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  font-weight: 600;
}

.navbar-logo {
  width: 110px;
  height: 45px;
  display: inline-block;
  align-content: top;
}

/* ==== Container ==== */
.jumbotron {
  height: 30vh;
  background-color: rgb(157, 172, 176);
  max-width: 100%;
  border-radius: 0px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  align-items: center;
}

.midtconsol {
  height: 70vh;
  background-color: #ffffff;
  color: #000;
  padding: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation-name: midtconsol;
  animation-duration: 1.3s;
  animation-timing-function: ease-in-out;
  animation-delay: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.sånemterdet {
  width: 100%;
  height: auto;
}


@keyframes midtconsol {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

.container-product {
  padding-top: 20px;
  height: 100vh;
  /*background-color: rgb(214, 125, 25);*/
  background-color: rgb(157, 172, 176);
}

.card1 {
  background-color: #ffffff;
  height: 90%;
  width: 23,3%;
  padding-bottom: 100px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,.02),0 2px 70px rgba(0,0,0,.06);
  transition: 300ms;
}

.card1:hover {
  transform: translate(-0px, -20px);
  transition: 0.3s transform;
}

.card2 {
  background-color: #ffffff;
  height: 90%;
  width: 23,3%;
  margin: 20px 10px;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,.02),0 2px 70px rgba(0,0,0,.06);
  transition: 300ms;
}

.card2:hover {
  transform: translate(-0px, -20px);
  transition: 0.3s transform;
}

.card3 {
  background-color: #ffffff;
  height: 90%;
  width: 23,3%;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,.02),0 2px 70px rgba(0,0,0,.06);
  transition: 300ms;
}

.card3:hover {
  transform: translate(-0px, -20px);
  transition: 0.3s transform;
}

.banner-vhs {
  background-image: url(/images/vhs.jpg);
  background-size: cover;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 2px 2px 0px 0px;
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
}

.banner-indscanning {
  background-image: url(/images/minder.jpg);
  background-size: cover;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 2px 2px 0px 0px;
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
}

.banner-smalfilm {
  background-image: url(/images/smalfilm.jpg);
  background-size: cover;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 2px 2px 0px 0px;
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
}

.container-fluid-footer {
  padding: 30px;
  height: auto;
  background-color: rgb(214, 125, 25);
  color: white;
}

.text-container {
  height: auto;
  background-color: #fff;
  color: #000;
  text-align: left;
  max-width: 1000px;
  padding-top: 100px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.row {
  margin: 0 auto;
  max-width: 1500px;
}

.img-responsive {
  margin: 0 auto;
  max-width: 70%;
  padding: 0;
  display: block;
}



/* ==== Typografi ==== */

p {
  font-family: 'Exo2', sans-serif;
  font-weight: 200;
  line-height: 1,5;
  font-size: 1,25em;
}

h2 {
  font-size: 50px;
  text-align: center;
  font-family: 'Exo2', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

h3 {
  text-align: center;
  font-family: 'Exo2', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 35px;
}

h4 {
  font-family: 'Exo2', sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  font-style: italic;
}

h5 {
  font-family: 'Exo2', sans-serif;
  text-transform: uppercase;
}

hr {
  width: 50%;
  margin-bottom: 50px;
}

table {
  font-family: 'Exo2', sans-serif;
  font-weight: 100;
  width: 100%;
  cursor: default;
}


.tablecard {
  border-collapse: collapse;
  font-family: 'Exo2', sans-serif;
  font-size: 0.9em;
  max-width: 1000px;
  border-radius: 5px 5px 0 0;
  margin-top: 40px;
  text-align: center;
}

.tablecard td {
  border-bottom: 1px solid #d4d4d4;
}


a {
  font-family: 'Exo2', sans-serif;
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #000000;
  text-decoration: none;
}

#card {
  font-family: 'Exo2', sans-serif;
  font-weight: 200;
  line-height: 1,5;
  font-size: 1,25em;
  text-align: center;
}


#head1 {
  font-family: 'Exo2', sans-serif;
  font-weight: bold;
  line-height: 1;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
}

#head2 {
  font-family: 'Exo2', sans-serif;
  font-weight: 100;
  line-height: 1;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
}

#storpris1 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  line-height: 1;
  padding-top: 10px;
}

#båndpris {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 45px;
  text-align: center;
  line-height: 1;
  color: rgb(214, 125, 25);
}

#Copyright {
  font-family: 'Exo2',sans-serif;
  font-weight: 100;
  line-height: 1;
  font-size: 10px;
  text-align: center;
}


/* ==== MEDIA Query ==== */

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  html, body {
    height: 100%;
    margin: 0px;
    box-sizing: border-box;
    background-color: #fff;
    width: auto;
    scroll-behavior: smooth;
  }

  .navbar {
    background-color: rgb(157, 172, 176);
    font-family: 'Exo2', sans-serif;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    font-weight: 600;
  }

  .navbar-logo {
    width: 110px;
    height: 45px;
    display: inline-block;
    align-content: top;
  }

  /* ==== Container ==== */
  .jumbotron {
    height: 40vh;
    background-color: rgb(157, 172, 176);
    max-width: 100%;
    border-radius: 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    align-items: center;
  }

  .midtconsol {
    height: 50vh;
    background-color: #ffffff;
    color: #000;
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation-name: midtconsol;
    animation-duration: 1.3s;
    animation-timing-function: ease-in-out;
    animation-delay: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
  }

  .sånemterdet {
    width: 100%;
    height: auto;
  }


  @keyframes midtconsol {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 100;
    }
  }

  .container-product {
    padding: 40px;
    height: auto;
    /*background-color: rgb(214, 125, 25);*/
    background-color: rgb(157, 172, 176);
  }

  .card1 {
    background-color: #ffffff;
    height: 100%;
    width: 33,3%;
    padding-bottom: 120px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,.02),0 2px 70px rgba(0,0,0,.06);
    transition: 300ms;
  }

  .card1:hover {
    transform: translate(-0px, -20px);
    transition: 0.3s transform;
  }

  .card2 {
    background-color: #ffffff;
    height: 100%;
    width: 33,3%;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,.02),0 2px 70px rgba(0,0,0,.06);
    transition: 300ms;
  }

  .card2:hover {
    transform: translate(-0px, -20px);
    transition: 0.3s transform;
  }

  .card3 {
    background-color: #ffffff;
    height: 100%;
    width: 33,3%;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,.02),0 2px 70px rgba(0,0,0,.06);
    transition: 300ms;
  }

  .card3:hover {
    transform: translate(-0px, -20px);
    transition: 0.3s transform;
  }

  .banner-vhs {
    background-image: url(/images/vhs.jpg);
    background-size: cover;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 2px 2px 0px 0px;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
  }

  .banner-indscanning {
    background-image: url(/images/minder.jpg);
    background-size: cover;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 2px 2px 0px 0px;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
  }

  .banner-smalfilm {
    background-image: url(/images/smalfilm.jpg);
    background-size: cover;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 2px 2px 0px 0px;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
  }

  .container-fluid-footer {
    padding: 30px;
    height: auto;
    background-color: rgb(214, 125, 25);
    color: white;
    text-align: center;
  }

  .text-container {
    height: auto;
    background-color: #fff;
    color: #000;
    text-align: left;
    max-width: 1000px;
    padding-top: 100px;
    padding-bottom: 50px;
    margin: 0 auto;
  }

  .row {
    margin: 0 auto;
    max-width: 1024px;
  }

  .img-responsive {
    margin: 0 auto;
    max-width: 70%;
    padding: 0;
    display: block;
  }



  /* ==== Typografi ==== */

  p {
    font-family: 'Exo2', sans-serif;
    font-weight: 200;
    line-height: 1,5;
    font-size: 1,25em;
  }

  h2 {
    font-size: 50px;
    text-align: center;
    font-family: 'Exo2', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
  }

  h3 {
    text-align: center;
    font-family: 'Exo2', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 30px;
  }

  h4 {
    font-family: 'Exo2', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    font-style: italic;
  }

  h5 {
    font-family: 'Exo2', sans-serif;
    text-transform: uppercase;
  }

  hr {
    width: 50%;
    margin-bottom: 40px;
  }

  table {
    font-family: 'Exo2', sans-serif;
    font-weight: 100;
    width: 100%;
    cursor: default;
  }


  .tablecard {
    border-collapse: collapse;
    font-family: 'Exo2', sans-serif;
    font-size: 0.9em;
    max-width: 1000px;
    border-radius: 5px 5px 0 0;
    margin-top: 40px;
    text-align: center;
  }

  .tablecard td {
    border-bottom: 1px solid #d4d4d4;
  }


  a {
    font-family: 'Exo2', sans-serif;
    color: #ffffff;
    text-decoration: none;
  }

  a:hover {
    color: #000000;
    text-decoration: none;
  }

  #card {
    font-family: 'Exo2', sans-serif;
    font-weight: 200;
    line-height: 1,5;
    font-size: 1,25em;
    text-align: center;
  }


  #head1 {
    font-family: 'Exo2', sans-serif;
    font-weight: bold;
    line-height: 1;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
  }

  #head2 {
    font-family: 'Exo2', sans-serif;
    font-weight: 100;
    line-height: 1;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
  }

  #storpris1 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    line-height: 1;
    padding-top: 10px;
  }

  #båndpris {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 45px;
    text-align: center;
    line-height: 1;
    color: rgb(214, 125, 25);
  }

  #Copyright {
    font-family: 'Exo2',sans-serif;
    font-weight: 100;
    line-height: 1;
    font-size: 10px;
    text-align: center;
  }


}

/* Medium Devices, Desktops */
@media only screen and (max-width : 960px) {
  html, body {
    height: 100%;
    margin: 0px;
    box-sizing: border-box;
    background-color: #fff;
    width: auto;
    scroll-behavior: smooth;
  }

  .navbar {
    background-color: rgb(157, 172, 176);
    font-family: 'Exo2', sans-serif;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    font-weight: 600;
  }

  .navbar-logo {
    width: 110px;
    height: 45px;
    display: inline-block;
    align-content: top;
  }

  /* ==== Container ==== */
  .jumbotron {
    height: 60vh;
    background-color: rgb(157, 172, 176);
    max-width: 100%;
    border-radius: 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    align-items: center;
  }

  .midtconsol {
    height: auto;
    background-color: #ffffff;
    color: #000;
    padding: 50px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    animation-name: midtconsol;
    animation-duration: 1.3s;
    animation-timing-function: ease-in-out;
    animation-delay: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
  }

  .sånemterdet {
    width: 100%;
    height: auto;
  }

  @keyframes midtconsol {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 100;
    }
  }

  .container-product {
    padding-top: 40px;
    height: auto;
    padding-bottom: 40px;
    background-color: rgb(157, 172, 176);
  }

  .card1 {
    background-color: #ffffff;
    height: 100%;
    width: 33,3%;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,.02),0 2px 70px rgba(0,0,0,.06);
    transition: 300ms;
  }

  .card1:hover {
    transform: translate(-0px, -20px);
    transition: 0.3s transform;
  }

  .card2 {
    background-color: #ffffff;
    height: 100%;
    width: 33,3%;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,.02),0 2px 70px rgba(0,0,0,.06);
    transition: 300ms;
  }

  .card2:hover {
    transform: translate(-0px, -20px);
    transition: 0.3s transform;
  }

  .card3 {
    background-color: #ffffff;
    height: 100%;
    width: 33,3%;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,.02),0 2px 70px rgba(0,0,0,.06);
    transition: 300ms;
  }

  .card3:hover {
    transform: translate(-0px, -20px);
    transition: 0.3s transform;
  }

  .banner-vhs {
    background-image: url(/images/vhs.jpg);
    background-size: cover;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 2px 2px 0px 0px;
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
  }

  .banner-indscanning {
    background-image: url(/images/minder.jpg);
    background-size: cover;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 2px 2px 0px 0px;
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
  }

  .banner-smalfilm {
    background-image: url(/images/smalfilm.jpg);
    background-size: cover;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 2px 2px 0px 0px;
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
  }

  .container-fluid-footer {
    padding: 30px;
    height: auto;
    background-color: rgb(214, 125, 25);
    color: white;
    text-align: center;
  }

  .text-container {
    height: auto;
    background-color: #fff;
    color: #000;
    text-align: left;
    max-width: 900px;
    padding-top: 100px;
    padding-bottom: 50px;
    margin: 0 auto;
  }

  .row {
    margin: 0 auto;
    max-width: 950px;
    padding-bottom: 50px;
  }

  .img-responsive {
    margin: 0 auto;
    max-width: 70%;
    padding: 0;
    display: block;
  }



  /* ==== Typografi ==== */

  p {
    font-family: 'Exo2', sans-serif;
    font-weight: 200;
    line-height: 1,5;
    font-size: 1,25em;
  }

  h2 {
    font-size: 50px;
    text-align: center;
    font-family: 'Exo2', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
  }

  h3 {
    text-align: center;
    font-family: 'Exo2', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 25px;
  }

  h4 {
    font-family: 'Exo2', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    font-style: italic;
  }

  h5 {
    font-family: 'Exo2', sans-serif;
    text-transform: uppercase;
  }

  hr {
    width: 50%;
    margin-bottom: 30px;
  }

  table {
    font-family: 'Exo2', sans-serif;
    font-weight: 100;
    width: 100%;
    cursor: default;
  }


  .tablecard {
    border-collapse: collapse;
    font-family: 'Exo2', sans-serif;
    font-size: 0.9em;
    max-width: 1000px;
    border-radius: 5px 5px 0 0;
    margin-top: 40px;
    text-align: center;
  }

  .tablecard td {
    border-bottom: 1px solid #d4d4d4;
  }


  a {
    font-family: 'Exo2', sans-serif;
    color: #ffffff;
    text-decoration: none;
  }

  a:hover {
    color: #000000;
    text-decoration: none;
  }

  #card {
    font-family: 'Exo2', sans-serif;
    font-weight: 200;
    line-height: 1,5;
    font-size: 1em;
    text-align: center;
  }


  #head1 {
    font-family: 'Exo2', sans-serif;
    font-weight: bold;
    line-height: 1;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
  }

  #head2 {
    font-family: 'Exo2', sans-serif;
    font-weight: 100;
    line-height: 1;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
  }

  #storpris1 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    line-height: 1;
    padding-top: 10px;
  }

  #båndpris {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    line-height: 1;
    color: rgb(214, 125, 25);
  }

  #Copyright {
    font-family: 'Exo2',sans-serif;
    font-weight: 100;
    line-height: 1;
    font-size: 10px;
    text-align: center;
  }

}

/* Small Devices, Tables */
@media only screen and (max-width : 768px) {
  html, body {
    height: 100%;
    margin: 0px;
    box-sizing: border-box;
    background-color: #fff;
    width: auto;
    scroll-behavior: smooth;
  }

  .navbar {
    background-color: rgb(157, 172, 176);
    font-family: 'Exo2', sans-serif;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    font-weight: 600;
  }

  .navbar-logo {
    width: 95px;
    height: 35px;
    display: inline-block;
    align-content: top;
  }

  /* ==== Container ==== */
  .jumbotron {
    height: auto;
    background-color: rgb(157, 172, 176);
    max-width: 100%;
    border-radius: 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    align-items: center;
  }

  .midtconsol {
    height: auto;
    background-color: #ffffff;
    color: #000;
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation-name: midtconsol;
    animation-duration: 1.3s;
    animation-timing-function: ease-in-out;
    animation-delay: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
  }

  .sånemterdet {
    width: 100%;
    height: auto;
  }


  @keyframes midtconsol {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 100;
    }
  }

  .container-product {
    padding-top: 40px;
    height: auto;
    /*background-color: rgb(214, 125, 25);*/
    background-color: rgb(157, 172, 176);
  }

  .card1 {
    background-color: #ffffff;
    height: 100%;
    width: 33,3%;
    padding-bottom: 120px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,.02),0 2px 70px rgba(0,0,0,.06);
    transition: 300ms;
  }

  .card1:hover {
    transform: translate(-0px, -20px);
    transition: 0.3s transform;
  }

  .card2 {
    background-color: #ffffff;
    height: 100%;
    width: 33,3%;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,.02),0 2px 70px rgba(0,0,0,.06);
    transition: 300ms;
  }

  .card2:hover {
    transform: translate(-0px, -20px);
    transition: 0.3s transform;
  }

  .card3 {
    background-color: #ffffff;
    height: 100%;
    width: 33,3%;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,.02),0 2px 70px rgba(0,0,0,.06);
    transition: 300ms;
  }

  .card3:hover {
    transform: translate(-0px, -20px);
    transition: 0.3s transform;
  }

  .banner-vhs {
    background-image: url(/images/vhs.jpg);
    background-size: cover;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 2px 2px 0px 0px;
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
  }

  .banner-indscanning {
    background-image: url(/images/minder.jpg);
    background-size: cover;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 2px 2px 0px 0px;
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
  }

  .banner-smalfilm {
    background-image: url(/images/smalfilm.jpg);
    background-size: cover;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 2px 2px 0px 0px;
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
  }

  .container-fluid-footer {
    padding: 30px;
    height: auto;
    background-color: rgb(214, 125, 25);
    color: white;
    font-size: 15px;
  }

  .text-container {
    height: auto;
    background-color: #fff;
    color: #000;
    text-align: left;
    max-width: 700px;
    padding-top: 100px;
    padding-bottom: 50px;
    margin: 0 auto;
  }

  .row {
    margin: 0 auto;
    max-width: 700px;
  }

  .img-responsive {
    margin: 0 auto;
    max-width: 70%;
    padding: 0;
    display: block;
  }



  /* ==== Typografi ==== */

  p {
    font-family: 'Exo2', sans-serif;
    font-weight: 200;
    line-height: 1,5;
    font-size: 1,25em;
  }

  h2 {
    font-size: 50px;
    text-align: center;
    font-family: 'Exo2', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
  }

  h3 {
    text-align: center;
    font-family: 'Exo2', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20px;
  }

  h4 {
    font-family: 'Exo2', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    font-style: italic;
  }

  h5 {
    font-family: 'Exo2', sans-serif;
    text-transform: uppercase;
  }

  hr {
    width: 50%;
    margin-bottom: 20px;
  }

  table {
    font-family: 'Exo2', sans-serif;
    font-weight: 100;
    width: 100%;
    cursor: default;
  }


  .tablecard {
    border-collapse: collapse;
    font-family: 'Exo2', sans-serif;
    font-size: 0.9em;
    max-width: 1000px;
    border-radius: 5px 5px 0 0;
    margin-top: 40px;
    text-align: center;
  }

  .tablecard td {
    border-bottom: 1px solid #d4d4d4;
  }


  a {
    font-family: 'Exo2', sans-serif;
    color: #ffffff;
    text-decoration: none;
  }

  a:hover {
    color: #000000;
    text-decoration: none;
  }

  #card {
    font-family: 'Exo2', sans-serif;
    font-weight: 200;
    line-height: 1,2;
    font-size: 0.8em;
    text-align: center;
    margin: 10px;
  }


  #head1 {
    font-family: 'Exo2', sans-serif;
    font-weight: bold;
    line-height: 1;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
  }

  #head2 {
    font-family: 'Exo2', sans-serif;
    font-weight: 100;
    line-height: 1;
    font-size: 17px;
    text-align: center;
    text-transform: uppercase;
  }

  #storpris1 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    line-height: 1;
    padding-top: 10px;
  }

  #båndpris {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    line-height: 1;
    color: rgb(214, 125, 25);
  }

  #Copyright {
    font-family: 'Exo2',sans-serif;
    font-weight: 100;
    line-height: 1;
    font-size: 10px;
    text-align: center;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  html, body {
    height: 100%;
    margin: 0px;
    box-sizing: border-box;
    background-color: #fff;
    width: auto;
    scroll-behavior: smooth;
  }

  .navbar {
    background-color: rgb(157, 172, 176);
    font-family: 'Exo2', sans-serif;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    font-weight: 600;
  }

  .navbar-logo {
    width: 95px;
    height: 35px;
    display: inline-block;
    align-content: top;
  }

  /* ==== Container ==== */
  .jumbotron {
    height: 30vh;
    background-color: rgb(157, 172, 176);
    max-width: 100%;
    border-radius: 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    align-items: center;
  }

  .midtconsol {
    height: auto;
    background-color: #ffffff;
    color: #000;
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation-name: midtconsol;
    animation-duration: 1.3s;
    animation-timing-function: ease-in-out;
    animation-delay: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
  }

  .sånemterdet {
    width: 100%;
    height: auto;
  }


  @keyframes midtconsol {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 100;
    }
  }

  .container-product {
    padding-top: 40px;
    height: auto;
    /*background-color: rgb(214, 125, 25);*/
    background-color: rgb(157, 172, 176);
  }

  .card1 {
    background-color: #ffffff;
    height: auto;
    width: 33,3%;
    margin: 5px 5px;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,.02),0 2px 70px rgba(0,0,0,.06);
    transition: 300ms;
  }

  .card1:hover {
    transform: translate(-0px, -20px);
    transition: 0.3s transform;
  }

  .card2 {
    background-color: #ffffff;
    height: auto;
    width: 33,3%;
    margin: 5px 5px;
    padding-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,.02),0 2px 70px rgba(0,0,0,.06);
    transition: 300ms;
  }

  .card2:hover {
    transform: translate(-0px, -20px);
    transition: 0.3s transform;
  }

  .card3 {
    background-color: #ffffff;
    height: auto;
    width: 33,3%;
    margin: 5px 5px;
    padding-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,.02),0 2px 70px rgba(0,0,0,.06);
    transition: 300ms;
  }

  .card3:hover {
    transform: translate(-0px, -20px);
    transition: 0.3s transform;
  }

  .banner-vhs {
    background-image: url(/images/vhs.jpg);
    background-size: cover;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 2px 2px 0px 0px;
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
  }

  .banner-indscanning {
    background-image: url(/images/minder.jpg);
    background-size: cover;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 2px 2px 0px 0px;
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
  }

  .banner-smalfilm {
    background-image: url(/images/smalfilm.jpg);
    background-size: cover;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 2px 2px 0px 0px;
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
  }

  .container-fluid-footer {
    padding: 30px;
    height: auto;
    background-color: rgb(214, 125, 25);
    color: white;
    text-align: center;
  }
  /* Footer padding */
  .col-xs-12 {
    padding-bottom: 20px;
  }

  .text-container {
    height: auto;
    background-color: #fff;
    color: #000;
    text-align: left;
    max-width: 400px;
    padding-top: 100px;
    padding-bottom: 50px;
    margin: 0 10px;
  }

  .row {
    margin: 0 auto;
    max-width: 400px;
  }

  .img-responsive {
    margin: 0 auto;
    max-width: 70%;
    padding: 0;
    display: block;
  }



  /* ==== Typografi ==== */

  p {
    font-family: 'Exo2', sans-serif;
    font-weight: 200;
    line-height: 1,5;
    font-size: 1,25em;
  }

  h2 {
    font-size: 50px;
    text-align: center;
    font-family: 'Exo2', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
  }

  h3 {
    text-align: center;
    font-family: 'Exo2', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 25px;
  }

  h4 {
    font-family: 'Exo2', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    font-style: italic;
  }

  h5 {
    font-family: 'Exo2', sans-serif;
    text-transform: uppercase;
  }

  hr {
    width: 50%;
    margin-bottom: 50px;
  }

  table {
    font-family: 'Exo2', sans-serif;
    font-weight: 100;
    width: 100%;
    cursor: default;
  }


  .tablecard {
    border-collapse: collapse;
    font-family: 'Exo2', sans-serif;
    font-size: 0.9em;
    max-width: 400px;
    border-radius: 5px 5px 0 0;
    margin-top: 40px;
    text-align: center;
  }

  .tablecard td {
    border-bottom: 1px solid #d4d4d4;
  }


  a {
    font-family: 'Exo2', sans-serif;
    color: #ffffff;
    text-decoration: none;
  }

  a:hover {
    color: #000000;
    text-decoration: none;
  }

  #card {
    font-family: 'Exo2', sans-serif;
    font-weight: 200;
    line-height: 1,2;
    font-size: 1em;
    text-align: center;
    margin: 10px;
  }


  #head1 {
    font-family: 'Exo2', sans-serif;
    font-weight: bold;
    line-height: 1;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
  }

  #head2 {
    font-family: 'Exo2', sans-serif;
    font-weight: 100;
    line-height: 1;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
  }

  #storpris1 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    line-height: 1;
    padding-top: 10px;
  }

  #båndpris {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 45px;
    text-align: center;
    line-height: 1;
    color: rgb(214, 125, 25);
  }

  #Copyright {
    font-family: 'Exo2',sans-serif;
    font-weight: 100;
    line-height: 1;
    font-size: 10px;
    text-align: center;
  }
}

/* Custom, Phone Retina */
@media only screen and (max-width : 320px) {
  html, body {
    height: 100%;
    margin: 0px;
    box-sizing: border-box;
    background-color: #fff;
    width: auto;
    scroll-behavior: smooth;
  }

  .navbar {
    background-color: rgb(157, 172, 176);
    font-family: 'Exo2', sans-serif;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    font-weight: 600;
  }

  .navbar-logo {
    width: 80px;
    height: 30px;
    display: inline-block;
    align-content: top;
  }

  /* ==== Container ==== */
  .jumbotron {
    height: 40vh;
    background-color: rgb(157, 172, 176);
    max-width: 100%;
    border-radius: 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    align-items: center;
  }

  .midtconsol {
    height: auto;
    background-color: #ffffff;
    color: #000;
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation-name: midtconsol;
    animation-duration: 1.3s;
    animation-timing-function: ease-in-out;
    animation-delay: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
  }

  .sånemterdet {
    width: 100%;
    height: auto;
  }


  @keyframes midtconsol {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 100;
    }
  }

  .container-product {
    padding-top: 40px;
    height: auto;
    /*background-color: rgb(214, 125, 25);*/
    background-color: rgb(157, 172, 176);
  }

  .card1 {
    background-color: #ffffff;
    height: auto;
    width: 33,3%;
    margin: 20px 20px;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,.02),0 2px 70px rgba(0,0,0,.06);
    transition: 300ms;
  }

  .card1:hover {
    transform: translate(-0px, -20px);
    transition: 0.3s transform;
  }

  .card2 {
    background-color: #ffffff;
    height: auto;
    width: 33,3%;
    margin: 20px 20px;
    padding-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,.02),0 2px 70px rgba(0,0,0,.06);
    transition: 300ms;
  }

  .card2:hover {
    transform: translate(-0px, -20px);
    transition: 0.3s transform;
  }

  .card3 {
    background-color: #ffffff;
    height: auto;
    width: 33,3%;
    margin: 20px 20px;
    padding-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,.02),0 2px 70px rgba(0,0,0,.06);
    transition: 300ms;
  }

  .card3:hover {
    transform: translate(-0px, -20px);
    transition: 0.3s transform;
  }

  .banner-vhs {
    background-image: url(/images/vhs.jpg);
    background-size: cover;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 2px 2px 0px 0px;
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
  }

  .banner-indscanning {
    background-image: url(/images/minder.jpg);
    background-size: cover;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 2px 2px 0px 0px;
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
  }

  .banner-smalfilm {
    background-image: url(/images/smalfilm.jpg);
    background-size: cover;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 2px 2px 0px 0px;
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
  }

  .container-fluid-footer {
    padding: 30px;
    height: auto;
    background-color: rgb(214, 125, 25);
    color: white;
    text-align: center;
    font-size: 15px;
  }

  .col-xs-12 {
    padding-bottom: 25px;
  }


  .text-container {
    height: auto;
    background-color: #fff;
    color: #000;
    text-align: left;
    max-width: 300px;
    padding-top: 100px;
    padding-bottom: 50px;
    margin: 0 10px;
  }

  .row {
    margin: 0 auto;
    max-width: 400px;
  }

  .img-responsive {
    margin: 0 auto;
    max-width: 70%;
    padding: 0;
    display: block;
  }



  /* ==== Typografi ==== */

  p {
    font-family: 'Exo2', sans-serif;
    font-weight: 200;
    line-height: 1,5;
    font-size: 1,25em;
  }

  h2 {
    font-size: 50px;
    text-align: center;
    font-family: 'Exo2', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
  }

  h3 {
    text-align: center;
    font-family: 'Exo2', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 20px;
  }

  h4 {
    font-family: 'Exo2', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    font-style: italic;
  }

  h5 {
    font-family: 'Exo2', sans-serif;
    text-transform: uppercase;
  }

  hr {
    width: 50%;
    margin-bottom: 20px;
  }

  table {
    font-family: 'Exo2', sans-serif;
    font-weight: 100;
    width: 100%;
    cursor: default;
  }


  .tablecard {
    border-collapse: collapse;
    font-family: 'Exo2', sans-serif;
    font-size: 0.9em;
    max-width: 400px;
    border-radius: 5px 5px 0 0;
    margin-top: 40px;
    text-align: center;
  }

  .tablecard td {
    border-bottom: 1px solid #d4d4d4;
  }


  a {
    font-family: 'Exo2', sans-serif;
    color: #ffffff;
    text-decoration: none;
  }

  a:hover {
    color: #000000;
    text-decoration: none;
  }

  #card {
    font-family: 'Exo2', sans-serif;
    font-weight: 200;
    line-height: 1,2;
    font-size: 0.8em;
    text-align: center;
    margin: 10px;
  }


  #head1 {
    font-family: 'Exo2', sans-serif;
    font-weight: bold;
    line-height: 1;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
  }

  #head2 {
    font-family: 'Exo2', sans-serif;
    font-weight: 100;
    line-height: 1;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
  }

  #storpris1 {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    line-height: 1;
    padding-top: 10px;
  }

  #båndpris {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    line-height: 1;
    color: rgb(214, 125, 25);
  }

  #Copyright {
    font-family: 'Exo2',sans-serif;
    font-weight: 100;
    line-height: 1;
    font-size: 10px;
    text-align: center;
  }

}
